* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* 页面结构 */

.container,
.flex-column {
  display: flex;
  flex-direction: column;
}

/* 通用CSS */

.flex-normal {
  display: flex;
}

.font-white {
  color: white;
}

.background-color {
  background-color: #b9546c;
}

.flex-hv-center {
  justify-content: center;
  align-items: center;
}

.flex-c-center {
  justify-content: center;
}

.flex-v-center {
  align-items: center;
}

.mr-auto {
  margin-right: auto;
}
