/* projecgt pages 样式 */

@media screen and (min-width: 1200px) {
  .project-content {
    width: 924px;
  }
}

.project-content {
  background-color: white;
  color: #333;
}

.project-content h1,
.project-content h2,
.project-content p,
.project-content hr {
  margin: 0;
  padding: 0 50px;
}

.project-content h1 {
  line-height: 2em;
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 48px;
  margin-bottom: .5em;
}

.project-content h2 {
  font-size: 24px;
  line-height: 3em;
}

.project-content p {
  line-height: 2em;
}

.project-content img {
  max-width: 100%;
  margin: 30px 0;
}

.project-footer {
  margin: 30px 50px;
}

.project-footer .back {
  width: 100px;
  background-color: #fc7878;
  line-height: 35px;
  border-radius: 17.5px;
  font-size: 16px;
  display: block;
  text-align: center;
  margin-right: auto;
}

.project-icon {
  width: auto;
  height: 50px;
  margin: 0 !important;
  align-self: flex-end;
}
