/* 页面头部 */

.banner {
  height: 560px;
  background-size: cover;
  background-position: center;
}

.nav {
  height: 70px;
}

.title {
  font-weight: bold;
  font-size: 8em;
  text-shadow: 0 0 15px black;
}

.sub-area {
  height: 60px;
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  align-self: flex-end;
}

.about {
  width: 190px;
  background-color: #fc7878;
  font-size: 12px;
  cursor: pointer;
}

.about:hover {
  background-color: #fb3b3b;
}

.logo {
  padding-left: 30px;
}

/* .search {
  width: 25%;
  margin-right: auto;
} */

/* .search input {
  width: 70%;
  border: 1px solid #ea68a2;
  border-radius: 10px;
  background-color: #b9546c;
  padding: 1px 8px;
  padding-right: 15px;
  outline: none;
  -webkit-appearance: none;
} */
