/* 页面头部 */

.banner-container {
  width: 100%;
}

.banner-root {
  overflow: hidden;
}

.banner-root,
.banner {
  height: 328px;
  background-size: cover;
  background-position: center;
}

.banner {
  position: absolute;
  width: 100%;
}

.nav {
  height: 70px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.title {
  height: 125px;
  transform: translate3d(0,-25px,0);
  max-width: 100%;
  line-height: 328px;
}

.title img {
  max-height: 100%;
  max-width: 100%;
}

.sub-area {
  height: 50px;
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  align-self: flex-end;
}

.about {
  width: 115px;
  font-size: 12px;
  cursor: pointer;
}

.about:hover {
  color: #fb3b3b;
}

.logo {
  width: 115px;
}

.logo img {
  height: 25px;
  padding-left: 45px;
}

.nav-title {
  font-weight: bold;
  font-size: 18px;
}

.small-title {
  display: none;
}

.o {
  height: 20px;
  border-radius: 10px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
}

.o:hover {
  cursor: pointer;
}

.o:first-child {
  margin-right: 15px;
}

.o.active {
  background-color: white;
  width: 55px;
}

@media screen and (max-width: 559px) {
  .nav-title {
    display: none;
  }
  .logo {
    margin-right: auto;
  }
  .title {
    height: auto;
  }
  .title-img {
    display: none;
  }
  .small-title {
    font-size: 70px; 
    font-weight: bold;
    display: block;
  }
}

@media screen and (min-width: 560px) {
  .banner-root,
  .banner {
    height: 400px;
  }
  .title {
    height: 300px;
    line-height: 328px;
  }
  .about,
  .logo {
    width: 115px;
  }
}

@media screen and (min-width: 768px) {
  .about,
  .logo {
    width: 115px;
  }
}

@media screen and (min-width: 1200px) {
  .banner-root,
  .banner {
    height: 550px;
  }
  .title {
    height: 350px;
    line-height: 550px;
  }
  .about,
  .logo {
    width: 190px;
  }
}
